*{
	padding: 0px;
	margin: 0px;

}

#header, nav{
	background-image: url(./pexels-william-choquette-2641886.avif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    border: none;
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
	background-color: #fff;
}
.fade {
    transition: opacity 0.5s
}  
/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
h1,h2{
	color: #ffffff;
}

/* Cards button */
#Cook-Now{
    color: #fff;
    background-color: #11100F ;
}
#Cook-Now:hover{
    background-color: #C15116;
    border-color: #C15116;
}

/* News letter */
#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}
#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#newsletter .btn{
    color: #fff;
    background-color: #11100F ;
}
#newsletter .btn:hover{
    background-color: #C15116;
    border-color: #C15116;
}
/*seach bar*/
.height{

    height: 10vh;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 7px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}
.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.bootpag {
  display: flex;
  justify-content: center;
}

.bootpag li {
  display: inline-block;
  margin: 0 0.5rem;
}

.bootpag li.dots {
  display: none;
}

.bootpag li.active a {
    color: red;
  }
  

@media (max-width: 768px) {
  .bootpag li {
    display: block;
    margin: 0.5rem;
  }
}
.btn-primary {
    background-color: #0C0D0E !important;
    border-color: #0C0D0E !important;
    border: none
  }
  .btn-primary:hover{
    background-color: #C15116 !important;
    border-color: #C15116 !important;
    border: none;
  }
  
  .btn-secondary {
    background-color: #0C0D0E !important;
    border-color: #0C0D0E !important;
    border: none
  }
    .btn-secondary:hover{
        background-color: #C15116 !important;
        border-color: #C15116!important;
        border: none;
    }
  